.prefix, .firstName, .middleName, .lastName, .userName, .dob, .gender, .maritalStatus, .employer,
.employment, .contact, .residentialZip, .residentialCity, .residentialState, .officeState, .officeCity,
.officeZip, .gitName {
             color: #ff0000;
}
table.dataTable tr.odd { background-color: #E2E4FF; }
table.dataTable tr.even { background-color: white; }

.thead {
 font-weight: bold;
}
button
{
    text-decoration: none;
    margin-right: 4px;
    margin-top: 4px;
}