table.dataTable tr.odd {
    background-color: #E2E4FF;
}

table.dataTable tr.even {
    background-color: white;
}

.thead {
    font-weight: bold;
}

button {
    text-decoration: none;
    margin-right: 4px;
    margin-top: 4px;
}

.image {
    width: 51px;
    height: 51px;
    border-radius: 50px;
}
